footer(class='footer')
    div(class='footer__logo-wrap')
    div(class='footer__content')
        div(class='footer__nav-group footer__nav-group--first')
            div(class='footer__nav-btn', id='footer__services') Услуги
            div(class='footer__nav-btn', id='footer__products') Продукты
        img(class='footer__logo' src='../img/logo.svg')
        div(class='footer__nav-group footer__nav-group--second')
            a(class='footer__nav-btn' href='mailto:arbagames@yandex.ua') Контакты
            div(class='footer__nav-btn', id='footer__about-company') О компании
