include ui-button.pug

header(class='header')
    div(class='header__content')
        div(class='col-offset-1 col-2 header__logo')
            img(src='../img/logo.svg')
        div(class='col-offset-2 col-5 header__nav')
            div(class='header__nav-btn', id='header__services') Услуги
            div(class='header__nav-btn', id='header__products') Продукты
            a(class='header__nav-btn header__nav-btn--light' href='mailto:arbagames@yandex.ua') Контакты
            div(class='header__nav-btn header__nav-btn--light', id='header__about-company') О компании
        div(class='col-2')
            a(href='mailto:arbagames@yandex.ua')
                +ui-button('связаться')
