main(class='index-main')
    div(class='index-main__background index-main__background--first')
        div(class='index-main__background index-main__background--second')
            section(class='index-main__section index-main__section--centered clearfix')
                include widgets.pug
                div(class='index-main__welcome col-offset-1 col-5')
                    include welcome.pug
            section(class='index-main__section index-main__section--centered clearfix')
                div(class='col-offset-1 col-10')
                    include services.pug
            section(class='index-main__section clearfix')
                include products.pug
            section(class='index-main__section index-main__section--centered clearfix')
                include about-company.pug
            section(class='index-main__section index-main__section--centered clearfix')
                include reviews.pug
            section(class='index-main__section index-main__section--centered clearfix')
                div(class='col-offset-3 col-6')
                    include questions.pug
