include ui-divider.pug

div(class='products')
    div(class='products__heading-wrap')
        h2(class='products__header', id='scroll__products') Наши продукты
        +ui-divider()(class='products__divider')
        h1(class='products__current-product')
    div(class='products__carousel')
        div(class='owl-carousel owl-theme')
            div(class='products__banner products__banner--1', data-name='Casino Deluxe')
            div(class='products__banner products__banner--2', data-name='Слото Гонки')
            div(class='products__banner products__banner--3', data-name='Luck Of Ra')
    div(class='products__carousel-dots')
