include ui-divider.pug
include ui-button.pug

div(class='questions')
    h2(class='questions__header') Остались вопросы?
    +ui-divider()(class='questions__divider')
    div(class='questions__pane')
        div arbagames@yandex.ua
        a(href='mailto:arbagames@yandex.ua')
            +ui-button('написать')

