mixin ui-icon-card(icon)
    div(class='ui-icon-card clearfix')&attributes(attributes)
        div(class='ui-icon-card__icon-wrap')
            img(src=icon)
        div(class='ui-icon-card__card')
            block
