div(class='index-main__widgets widgets')
    div(class='widgets__rectangle widgets__rectangle--first')
    div(class='widgets__rectangle widgets__rectangle--second')
    div(class='widgets__rectangle widgets__rectangle--third')

    a(href='#' class='widgets__widget widgets__widget--luck-of-ra')
        img(src='../img/luck-of-ra-logo.png')
    a(href='#' class='widgets__widget widgets__widget--casino-deluxe')
        img(src='../img/casino-deluxe-logo.png')
    div(class='widgets__widget widgets__widget--sloto-gonki')
        a(href='#' class='widgets__sloto-gonki-href')
        img(src='../img/sloto-gonki-logo.png')
